<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>index</title> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    

</head>

<body>

    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <% for (let user of users) { %>
                <div class="col">
                    <div class="card h-100">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"><%= user.name %></h5>
                        <p class="card-text">
                            Sex: <%= user.sex %><br>
                            Class: <%= user.class %><br>
                            Weight: <%= user.weight %><br>
                            Squat: <%= user.squat %><br>
                            Bench: <%= user.bench %><br>
                            Deadlift: <%= user.deadlift %><br>
                            Total: <%= user.total %>
                         </p>
                        <a href="https://www.instagram.com/<%= user.instagram %>" class="btn btn-primary">instagram</a>
                    </div>
                    </div>
                </div>
            <% } %>
        </div>
    </div>

</body>


</html>